/* @import "debug.css";  */ 
@import "reset.css";
@import "perfect-3-column.css";
@import "jquery.treeview.css";
@import "jquery.autocomplete.css";
@import "main.css";

body { font: 13pt 'Cambria', serif !important; }
.andringar dt,.entry dt {width: 11em !important; }
.andringar dd, .entry dd { margin: 0 0 0 11.5em !important; }
