/* @import "debug.css";  */ 
@import "reset.css";
@import "perfect-3-column.css";
@import "jquery.treeview.css";
@import "jquery.autocomplete.css";
@import "main.css";

body { font: 12pt 'Verdana', sans-serif !important; }
.andringar dt,.entry dt {width: 13em !important; }
.andringar dd, .entry dd { margin: 0 0 0 13.5em !important; }
.sidoruta dt { width: 9.2em !important; }
.sidoruta dd { margin: 0 0 0 9.3em !important; }
