#dokument {
      background: lightyellow;
      border: solid 1px yellow;
}

#kommentarer {
    background: lightgreen;
    border: solid 1px green;
    margin-bottom: 5px;
}

#referenser dl {
    background: lightblue;
    border: solid 1px blue;
    margin-bottom: 5px;
}
#vinjett {
    border: solid 1px black;
    background: lightgrey;
}
#sidfot {
    border: solid 1px red;
    background: pink;
}
