    /* Typografi, ramar, färger etc */
    #lagtext {
      background: lightyellow;
      border: solid 1px yellow;
    }
    #kommentarer .sidoruta {
      background: lightgreen;
      border: solid 1px green;
      margin-bottom: 5px;
    }
    #referenser .sidoruta {
      background: lightblue;
      border: solid 1px blue;
      margin-bottom: 5px;
    }
    #vinjett {
      border: solid 1px black;
      background: lightgrey;
    }
    #sidfot {
      border: solid 1px red;
      background: pink;
    }
    .sidoruta p {
      padding: 6px 18px 0 18px;
    }
    .verticalalign p {
      text-align: right;
      padding-bottom: 18px;
    }
    td {
	border: solid 1px black;
        vertical-align: top;
    }
    body {
	font: 12pt Palatino;
    }
    h2 {
	font: bold 12pt Palatino;
    }
    h3 {
	font: italic 12pt Palatino;
    }
    /* */
    
    /* Grundläggande boxlayout - från
    http://www.positioniseverything.net/articles/onetruelayout */

    #lagtext {
      float: left;
      width: 50%;
      margin-left: 25%;
    }
    * html #lagtext {
      display: inline;
    }
    #kommentarer {
      float: left;
      width: 24.9%;
      margin-left: -75%;
    }
    #referenser {
      float: left;
      width: 24%;
    }
    .sidoruta {
      overflow: hidden;
    }
    .sidoruta h2 {
      padding: 12px 18px 10000px 18px;
      padding: 12px 18px 3px 18px;
      margin-bottom: -9997px;
      margin-bottom: 0;
    }
    div#lagtext, div#kommentarer, div#referenser {
      /* p-b + m-b hacks for IE 5.01 */
      padding-bottom/**/: 30000px !important;
      margin-bottom/**/: -30000px !important;
    }
    @media all and (min-width: 0px) {
      body #lagtext, body #kommentarer, body #referenser {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
      }
      #lagtext:before, #kommentarer:before, #referenser:before {
        content: '[DO NOT LEAVE IT IS NOT REAL]';
        display: block;
        background: inherit;
        margin-top: -5px;
        padding-top: 32000px !important;
        margin-bottom: -32000px !important;
        height: 0;
      }
    }
    .last .verticalalign {
      /* p-b + m-b hacks for IE 5.01 */
      position/**/: absolute;
      bottom/**/: 0;
    }
    #lagtext .last .verticalalign {
      width: 50%;
    }
    #kommentarer .last .verticalalign {
      width: 25%;
    }
    #referenser .last .verticalalign {
      width: 24.9%;
    }
    /* hack for Operas */
    @media all and (min-width: 0px){
      #wrapper .last div.verticalalign {
        width: 100%; /* Opera 7.5 and 8 */
      }
      div[id^="wrapper"] #lagtext .last div.verticalalign {
        width: 50%;
      }
      div[id^="wrapper"] #kommentarer .last div.verticalalign {
        width: 25%;
      }
      div[id^="wrapper"] #referenser .last div.verticalalign {
        width: 24.9%;
      }
    }
    /* hack for IEs of all hues */
    * html .verticalalign {
      width: 100% !important;
    }
    #wrapper_extra {
      position: relative;
    }
    * html #wrapper {
      position: relative;
    }
    #wrapper {
      overflow: hidden; /* This hides the excess padding in non-IE browsers */
      display: block; /* this time Operas 7 + 8 need block, not inline-block */
    }
    /* but that makes IE go crazy */
    * html #wrapper {
      display: inline-block;
    }
    /* easy clearing */
    #wrapper:after {
      content: '[DO NOT LEAVE IT IS NOT REAL]'; 
      display: block; 
      height: 0; 
      clear: both; 
      visibility: hidden;
      overflow: hidden;
    }
    /* end easy clearing */
    h2, p {
      margin: 0;
      padding: 0;
    }
