/* @import "debug.css"; */

    /* Typografi, ramar, färger etc */
    body {
	margin: 0;
        padding: 0;
	font: 12pt Palatino;
    }
    #kommentarer, #referenser {
	font-size: 10pt;
	}

    #kommentarer ul {
	list-style: disc;
        padding: 0 10pt;
    }
    #referenser p, #referenser dl {
	background: #ddf;
        border: solid 1px darkblue;
        margin-bottom: 5px;
}
    .sidoruta p, .sidoruta dl {
      padding: 0 1em;
      margin-top: 0;
    }
    
    .verticalalign p {
      text-align: right;
      padding-bottom: 18px;
    }
    
    td {
	border: solid 1px #ddd;
        vertical-align: top;
    }

    dt {
	float: left;
        clear: left;
	width: 10em;
        font-weight: bold;
    }

    dt:after { content: ":"; }

    dd {
	margin: 0 0 0 10.5em;
        padding: 0;
    }
    dd:after {
	clear: left;
	}

    #vinjett {
	margin-top:-25px; /* shouldn't be needed */
 	height: 120px;
        background-image: url('/img/banner.jpg');
	position:relative;
        font-size: 14pt;
    }
    #vinjett h1 a {
	text-decoration: none;
         font-style: italic;
	 color: #fff;
         font-size: 24pt;
	 margin: 6pt;
	}
    #navigation {
        position: absolute;
	left:6pt;
        bottom: 6pt;
	margin: 0;
        padding: 0;
	
    }
    #navigation li {
	display: inline;
        padding: 0;
	margin: 0 3pt;
	padding: 6pt;
        background-color: #000;
	opacity: 0.4;
    }
    #navigation li a {
	text-decoration: none;
	 color: #fff;
    }
    #vinjett form {
        background-color: #000;
	color: #fff;
        padding: 6pt;
	opacity: 0.4;
        position: absolute;
	right:6pt;
 
        bottom: 0;
    } 

    #sidfot {
	border-top: solid thin #aaa;
  text-align: center;
	}
    /* specifik typografi för lagtexter */
    #lagtext {
	margin: 0 6pt;
    }
    p {
	padding: 0;
        margin: 0 0 0.5em 0;
    }

    ul {
	padding: 0;
        margin: 0 0 0.5em 0;
    }

    h2 {
	font: bold 20pt Palatino;
    }
    h2 {
	font: bold 12pt Palatino;
    }
    h3 {
	font: italic 12pt Palatino;
    }
    ul.numreradlista, ul.bokstavslista, ul.strecksatslista {
	list-style-type: none;
        text-indent: -10pt;
        margin-left: 10pt;
	margin-top: 0;
	padding-left: 1em;
	padding-bottom: 0.5em;
    }
    .paragrafbeteckning {
	font-weight: bold;
    }
    .andringsnot, .upphavd {
	font-style: italic;
    } 
    
    /* Grundläggande boxlayout - från
    http://www.positioniseverything.net/articles/onetruelayout */

    #lagtext {
      float: left;
      /*
     	width: 20em;
	margin-left: 10.5em;
      */
      width: 50%;
      margin-left: 25%;
    }
    * html #lagtext {
      display: inline;
    }
    #kommentarer {
      float: left;
      /*
	width: 10em;
	margin-left: -30.5em;
      */
      width: 24%;
      margin-left: -75%;
    }
    #referenser {
      float: left;
      /*
	width: 10em;
	margin-left: 0.5em;
      */
      width: 24%;

    }
    .sidoruta {
      overflow: hidden;
    }
    /*
    .sidoruta h2 {
      padding: 12px 18px 10000px 18px;
      padding: 12px 18px 3px 18px;
      margin-bottom: -9997px;
      margin-bottom: 0;
    }
    */
    div#lagtext, div#kommentarer, div#referenser {
      /* p-b + m-b hacks for IE 5.01 */
      padding-bottom/**/: 30000px !important;
      margin-bottom/**/: -30000px !important;
    }
    @media all and (min-width: 0px) {
      body #lagtext, body #kommentarer, body #referenser {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
      }
      #lagtext:before, #kommentarer:before, #referenser:before {
        content: '[DO NOT LEAVE IT IS NOT REAL]';
        display: block;
        background: inherit;
        margin-top: -5px;
        padding-top: 32000px !important;
        margin-bottom: -32000px !important;
        height: 0;
      }
    }
    .last .verticalalign {
      /* p-b + m-b hacks for IE 5.01 */
      position/**/: absolute;
      bottom/**/: 0;
    }
    #lagtext .last .verticalalign {
      width: 50%;
    }
    #kommentarer .last .verticalalign {
      width: 25%;
    }
    #referenser .last .verticalalign {
      width: 24.9%;
    }
    /* hack for Operas */
    @media all and (min-width: 0px){
      #wrapper .last div.verticalalign {
        width: 100%; /* Opera 7.5 and 8 */
      }
      div[id^="wrapper"] #lagtext .last div.verticalalign {
        width: 50%;
      }
      div[id^="wrapper"] #kommentarer .last div.verticalalign {
        width: 25%;
      }
      div[id^="wrapper"] #referenser .last div.verticalalign {
        width: 24.9%;
      }
    }
    /* hack for IEs of all hues */
    * html .verticalalign {
      width: 100% !important;
    }
    #wrapper_extra {
      position: relative;
    }
    * html #wrapper {
      position: relative;
    }
    #wrapper {
      overflow: hidden; /* This hides the excess padding in non-IE browsers */
      display: block; /* this time Operas 7 + 8 need block, not inline-block */
    }
    /* but that makes IE go crazy */
    * html #wrapper {
      display: inline-block;
    }
    /* easy clearing */
    #wrapper:after {
      content: '[DO NOT LEAVE IT IS NOT REAL]'; 
      display: block; 
      height: 0; 
      clear: both; 
      visibility: hidden;
      overflow: hidden;
    }
    /* end easy clearing */

    /* huh? 
    h2, p {
      margin: 0;
      padding: 0;
    }
    */
