      #vinjett {
	position:relative;
        border: 1px solid #748896;
	/* background: #cb842e url(images/ui-bg_glass_25_cb842e_1x400.png) 50% 50% repeat-x; */
        background: #687385 url(images/ui-bg_inset-soft_50_687385_1x100.png) 50% 50% repeat-x;
        color: #ffffff;
	outline: none; 
        margin: 8pt;
        padding: 12pt 0 24pt 20pt;
	height: 38pt;

      }

      #vinjett h1 {
        font-size: 24pt;
	color: #000;
        font-family: Arial;
        text-transform: uppercase;
        font-weight: bold;
      }

      #vinjett h1 a {
	text-decoration: none;
        border-bottom: none;
	color: #fff;
      }
      #navigation {
        position: absolute;
  	left:12pt;
        bottom: -1px;
  	margin: 0;
        padding: 6pt;
	font-weight: bold;
      }
      #navigation li {
  	display: inline;
  	margin: 0 2pt; 
  	padding: 6pt 6pt 6pt 6pt;
  	zoom: 1;
        border-left: solid 1pt #fff;
        border-right: solid 1pt #fff;
        border-top: solid 1pt #fff;
	/* background: #cb842e url(images/ui-bg_glass_25_cb842e_1x400.png) 50% 50% repeat-x; */
        background: #687385 url(images/ui-bg_inset-soft_50_687385_1x100.png) 50% 50% repeat-x;
      }
      #navigation li a {
  	text-decoration: none;
        border-bottom: none;
  	color: #fff;
      }

      #navigation li a:hover {
        border-bottom: solid 1px;
      }

      #vinjett form {
        border-left: solid 1pt #fff;
        border-right: solid 1pt #fff;
        border-top: solid 1pt #fff;
        padding: 6pt;
        position: absolute;
  	right:6pt;
        bottom: -1px;
  	zoom: 1;
        /* background: #cb842e url(images/ui-bg_glass_25_cb842e_1x400.png) 50% 50% repeat-x; */
	background: #687385 url(images/ui-bg_inset-soft_50_687385_1x100.png) 50% 50% repeat-x;
      }
      #vinjett form p {
  	margin: 0;
        padding: 0;
      }
      #vinjett form input {
  	font-weight: bold;
        display: inline;
      }
  
      #innehallsforteckning {
	margin-left: 3pt;
        width: 150pt;
        float: left;
	/*
	border-right: dotted 1px grey; */
        overflow: hidden;
	font-size: 10pt;
        line-height: 12pt;
      }
      #innehallsforteckning ul {
	  list-style-type: none !important;
      }
      
      #dokument {
      margin-left: 174pt;
      position: relative;
      margin-right: 4pt;
      }
      
      #sidfot {
        border-top: dotted black 1px;
	padding: 4pt;
        margin: 4pt;
      }

      #frontpage {
	  line-height: 14pt;
      }
      #frontpage h2 {
	  margin-top: 12pt;
          margin-left: -6pt;
      }
      #frontpage h3 {
	  margin-top: 6pt;
	  /* border-bottom: solid #748896 1px; */
          margin-left: -6pt;
	  margin-right: 12pt;
          font-style: normal;
	  font-weight: bold;
      }

      #frontpage a {
	  border-bottom: none;
	  }
      #frontpage ul {
	  list-style-type: none !important;
	  }
      .sidoruta {
	  border: solid #939FA8 1px;
          background-color: #fff;
	  padding: 3pt;
          margin-left: 5pt;
	  margin-bottom: 5pt;
	  /*
	  border: solid #c0cfc2 1px;
          background-color: #f4f0ec;
          */ 
       }
      .sidoruta h2 {
	  font-size: 10pt;
	  }
      .aux {
	font-size: 10pt;
	line-height: 12pt;
      }
      .aux p {
	  margin-bottom: 5pt;
      }
      .aux ul {
	list-style-type: disc;
        margin-left: 15pt;
      }
      .aux ol {
        list-style-type: decimal;
        margin-left: 20pt;
      }  

      td {
      padding: 0 4pt 3pt 4pt;
      }
      /* basic typography */
      body {
	font-size: 11pt;
        line-height: 14pt;
	font-family: 'Arial', 'Helvetica', sans-serif;
      }
      h1 {
        font-size: 1.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
        line-height: 1.1em;
      }
      h2 {
        font-size: 1.2em;
	font-weight: bold;
        line-height: 1.1em;
      }
      h3 {
        font-style: italic;
        line-height: 1.1em;
      }

      p {
        padding: 0;
        margin: 0 0 0.5em 0;
      }
      dl { display: block }

      dl dt {
        display: block;
        float: none;
        width: inherit;
        font-weight: bold;
       }
    
       dl dd {
        display: block;
        float: none;
        width: inherit;
        margin-left: 22.5pt;
      }
      ol {
	  list-style-type: decimal !important;
          margin: 0 0 0 1.5em;
      }
      ul {
	  list-style-type: disc !important;
          padding: 0;
          margin: 0 0 0.5em 1.5em;
      }


a:link    { color: #595D74; text-decoration: none; border-bottom: dotted #3f3731 1px;}
a:visited { color: #687385; text-decoration: none; border-bottom: dotted #3f3731 1px;}
a:hover   { color: #00f; text-decoration: none; border-bottom: solid 1px;}
a:active  { color: #00f; text-decoration: none; border-bottom: solid 1px;}
    .ui-widget-content a:link    { color: inherit !important; }
    .ui-widget-content a:visited { color: inherit !important; }
    .ui-widget-content a:hover   { color: inherit !important; }
    .ui-widget-content a:active  { color: inherit !important; }

      
      /* custom typography for certain classes */
      ul.numreradlista, ul.bokstavslista, ul.strecksatslista {
	list-style-type: none !important;
        text-indent: -10pt;
        margin-left: 10pt;
	margin-top: 0;
	padding-left: 1em;
	padding-bottom: 0.5em;
    }
    .paragrafbeteckning, .rattsfallsrubrik {
	font-weight: bold;
        text-decoration: none;
	border-bottom: none !important;
	color: #000;
    }
    .andringsnot, .upphavd {
	font-style: italic;
    } 

    .timestamp {
	font-style: italic;
        font-size: smaller;
        margin:0;
    }

    .warning {
	background: yellow;
        border: solid thick red;
	font-weight: bold;
     }
     .patchdescription {
	 background: #f9f6f5;
         border: solid 1px #6b482c;
	 padding: 2pt;
         font-size: smaller;
	 line-height: 1.1em;
     }

    .platsmarkor {
        position: absolute;
        left: -36px;
        font-size: 0.6em;
        color: #999;
        font-family: Arial;
    }

    .andring {
	margin-bottom: 6pt;
    }
    /* styling of jquery UI themed elements */
    .ui-accordion h3 {
        font-style: normal;
	font-size: 10pt !important;
        padding: 2pt 4pt 2pt 18pt;
        cursor: pointer;
      }

    .ui-accordion .ui-accordion-content {
	font-size: 10pt !important;
	line-height: 12pt !important;
        padding: 1pt 1pt 2pt 3pt !important;
    }

