      #vinjett {
	position:relative;
        background: #970C42 url(images/ui-bg_highlight-soft_50_970c42_1x100.png) repeat-x;
        border: solid #fff 8pt;
        padding: 14pt 0 26pt 20pt;
	height: 38pt;
        -moz-border-radius-topleft: 20px; -webkit-border-top-left-radius: 20px; -moz-border-radius-topright: 20px; -webkit-border-top-right-radius: 20px;
      }

      #vinjett h1 {
        font-size: 24pt;
	color: #000;
        font-family: Arial;
        text-transform: uppercase;
        font-weight: bold;
      }

      #vinjett h1 a {
	text-decoration: none;
        border-bottom: none;
	color: #fff;
      }
      #navigation {
        position: absolute;
  	left:12pt;
        bottom: 0;
  	margin: 0;
        padding: 6pt;
	font-weight: bold;
      }
      #navigation li {
  	display: inline;
  	margin: 0 3pt; 
  	padding: 6pt 6pt 6pt 6pt;
  	zoom: 1;
        border: solid 1pt white;
	background: #970C42 url(images/ui-bg_highlight-soft_50_970c42_1x100.png) 50% 50% repeat-x;
      }
      #navigation li a {
  	text-decoration: none;
        border-bottom: none;
  	color: #fff;
      }

      #navigation li a:hover {
        border-bottom: solid 1px;
      }

      #vinjett form {
        border: solid 1pt white;
        padding: 6pt;
        position: absolute;
  	right:6pt;
        bottom: -1px;
  	zoom: 1;
	background: #970C42 url(images/ui-bg_highlight-soft_50_970c42_1x100.png) 50% 50% repeat-x;
      }
      #vinjett form p {
  	margin: 0;
        padding: 0;
      }
      #vinjett form input {
  	font-weight: bold;
        display: inline;
      }
  
      #innehallsforteckning {
	margin-left: 3pt;
        width: 112pt;
        float: left;
	border-right: dotted 1px grey;
        overflow: hidden;
	font-size: 10pt;
        line-height: 12pt;
      }

      #dokument {
      margin-left: 132pt;
      position: relative;
      margin-right: 4pt;
      }
      
      #sidfot {
        border-top: dotted black 1px;
      }

      .aux {
	font-size: 10pt;
	line-height: 12pt;
      }
      .aux p {
	  margin-bottom: 5pt;
      }
      .aux ul {
	list-style-type: disc;
        margin-left: 15pt;
      }
      .aux ol {
        list-style-type: decimal;
        margin-left: 20pt;
      }  

      td {
      padding: 0 4pt 3pt 4pt;

      }
      /* basic typography */
      body {
	font-size: 11pt;
        line-height: 14pt;
	font-family: 'Arial', 'Helvetica', sans-serif;
      }
      h1 {
        font-size: 1.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
        line-height: 1.1em;
      }
      h2 {
        font-size: 1.2em;
	font-weight: bold;
        line-height: 1.1em;
      }
      h3 {
        font-style: italic;
        line-height: 1.1em;
      }

      p {
        padding: 0;
        margin: 0 0 0.5em 0;
      }
      dl { display: block }

      dl dt {
        display: block;
        float: none;
        width: inherit;
        font-weight: bold;
       }
    
       dl dd {
        display: block;
        float: none;
        width: inherit;
        margin-left: 22.5pt;
      }

      ul {
        padding: 0;
        margin: 0 0 0.5em 0;
      }
      
      ul.numreradlista, ul.bokstavslista, ul.strecksatslista {
	list-style-type: none;
        text-indent: -10pt;
        margin-left: 10pt;
	margin-top: 0;
	padding-left: 1em;
	padding-bottom: 0.5em;
    }
    .paragrafbeteckning, .rattsfallsrubrik {
	font-weight: bold;
    }
    .andringsnot, .upphavd {
	font-style: italic;
    } 

    .timestamp {
	font-style: italic;
        font-size: smaller;
        margin:0;
    }

    .warning {
	background: yellow;
        border: solid thick red;
	font-weight: bold;
     }
     .patchdescription {
	 background: #f9f6f5;
         border: solid 1px #6b482c;
	 padding: 2pt;
         font-size: smaller;
	 line-height: 1.1em;
     }

    .platsmarkor {
        position: absolute;
        left: -2em;
        font-size: 0.6em;
        color: #999;
        font-family: Arial;
    }

    .andring {
	margin-bottom: 6pt;
    }
    /* styling of jquery UI themed elements */
    .ui-accordion h3 {
        font-style: normal;
	font-size: 10pt !important;
        padding: 2pt 2pt 2pt 18pt;
	/* set these just in case javascript isn't activated */
        background-color: #970C42;
        /* color: #fff; */
        cursor: pointer;
      }

    .ui-accordion .ui-accordion-content {
	font-size: 10pt !important;
	line-height: 12pt !important;
        padding: 1pt 1pt 0 3pt !important;
    }
    .ui-widget-content a {
	color: #970C42 !important;
	}
    .ui-widget-content a:hover {
	color: #f00 !important;
	}
