    body {
	margin: 0;
        padding: 0;
	font: 13pt/1.3em 'Times New Roman', Times, serif;
 	/* Avoid using absolute point sizes for fonts in the rest of the file -- use */
        /* 'smaller', 'larger' or '1.5em' or similar */
    }

    strong,b {
	font-weight: bold;
    }

    em, i {
	font-style: italic
    }
    tt, code, kbd, samp { font-family: monospace }

   ins {
       background: #efe;
   }

   del {
       background: #fee;
   }
   
    #kommentarer  {
	/*font-size: smaller; */
    }

    .entry {
	border: solid 1px #eae3dd;
        margin-bottom: 12pt;
    }
    .sidoruta {
      /* cursor: move; */
      padding: 3pt;
      margin-top: 0;
      line-height: 1.2em;
      background: #f9f6f5;
      border: solid 1px #6b482c;
      margin-bottom: 5px;
      font-size: smaller;
      box-shadow:         2px 2px 9px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
      -moz-box-shadow:    2px 2px 9px rgba(0, 0, 0, 0.5);
    }

    .mittruta {
      padding: 3pt;
      margin-top: 0;
      line-height: 1.2em;
      background: #f9f6f5;
      border: solid 1px #6b482c;
      margin-bottom: 5px;
      box-shadow:         2px 2px 9px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
      -moz-box-shadow:    2px 2px 9px rgba(0, 0, 0, 0.5);
    }
    .mittruta ul {
	display: block;
        margin-left: 40pt;
	list-style-type: disc;
        counter-reset: list-item
    }


    .sidoruta h2 {
	/*font-size: smaller; */
        font-weight: bold;
    }
    .verticalalign p {
      text-align: right;
      padding-bottom: 18px;
    }
    
    .bugreport-link { margin-top: 18pt; font-weight: bold;}
    .bugreport-form { width: 100% }
    .bugreport-form textarea { font: 10pt Arial, sans-serif; width: 100% }
    .bugreport-form input { font: 10pt Arial, sans-serif; width: 100%}
    
    td {
	border: solid 1px #eae3dd;
        vertical-align: top;
    }

    img.inline-icon {
	vertical-align: text-bottom;
        float: left;
    } 
    img.toolbar-icon {
	float: right;
        margin: 5px;
 
    } 
    
    /* olika sätt att formattera dl-listor:
       side-by-side, bred högerspalt */
    .andringar dl, .entry dl {
	margin-bottom: 18pt;
    }
    
    .andringar dt,.entry dt {
	float: left;
        clear: left;
	width: 10em;
        font-weight: bold;
    }

    .andringar dt:after, .entry dt:after { content: ":"; }

    .andringar dd, .entry dd {
	margin: 0 0 0 10.5em;
        padding: 0;
	clear: right;
    }
    .andringar dd:after, .entry dd:after {
	clear: left;
	}

    /* smal högerspalt */

    .sidoruta dt {
        display: block;
	float: none;
        width: inherit;
        font-weight: bold;
    }
   
    .sidoruta dt:after { content: ":"; }

    .sidoruta dd {
        display: block;
	float: none;
        width: inherit;
	margin-left: 22.5pt;
    }
    .sidoruta dd:after { clear: left; }
    .paragraf { position: relative; }


    /* classes for dynamic box layout */

    /* default: normal placement, directly under the text */
    .refs {  }
    .kommentar { background: #e7dfd8; }

    /* alternate 1: boxes go to the sides */
    .rightbox {
  	position: absolute;
        width: 50%;
	right: -53%;
        top: 0;
	/* to anchor at bottom: "bottom: -1em;" */
	overflow: auto;
    }

    .leftbox {
	position: absolute;
        width: 50%;
	left: -54%;
        top: 0;
	overflow: auto;
    }

    /* alternate 2: boxes are hidden */
    .hiddenbox { display: none; }


    .platsmarkor {
	position: absolute;
        left: -3em;
        font-size: 0.6em;
	color: #999;
        font-family: Arial;
    }
    .editlink { font-size: smaller; }
    /* side-by-side, statiska sidor */
    dl.tablestyle {
    }
    .tablestyle dt {
	float: left;
        clear: left;
	width: 8.7em;
        font-weight: bold;
    }
   
    .tablestyle dt:after { content: ":"; }

    .tablestyle dd {
	margin: 0 0 0 9em;
        padding: 0;
	clear: right;
    }
    .tablestyle dd:after {
	clear: left;
    }
    
 
    /* vanlig layout  */
   dl.regular { display: block }

   dl.regular dt {
    display: block;
    float: none;
    width: inherit;
    font-weight: bold;
   }

   dl.regular dd {
    display: block;
    float: none;
    width: inherit;
    margin-left: 22.5pt;
    margin-bottom: 1.0em
  }


 
    ol {
    display: block;
    margin-left: 2em;
    list-style-type: decimal;
    counter-reset: list-item
    }

 
    #vinjett {
 	height: 100px;
	position:relative;
        font-size: larger;
	margin-bottom: 10pt;
        overflow: hidden;
    }
    #vinjett img {
	position: absolute;
        z-index: -1;
        top: 0;
	left: 0;
    }
    #vinjett h1 a {
	text-decoration: none;
	color: #fff;
	font: italic bold 30pt 'Times New Roman', Times, serif;
	padding: 30pt;
        text-shadow: #000 5px 5px 5px;
    }
    #vinjett h1 a:after { content: "[beta]" }
	
    #navigation {
        position: absolute;
	left:8px;
        bottom: 0;
	margin: 0;
        padding: 9px;
    }
    #navigation li {
	display: inline;
	margin: 0 3pt; 
	padding: 8px;
        background-color: #000;
	opacity: 0.65;
        filter: alpha(opacity=65);
	zoom: 1;
    }
    #navigation li a {
	text-decoration: none;
	 color: #fff;
    }
    #vinjett form {
        background-color: #000;
	color: #fff;
        padding: 8px;
	opacity: 0.65;
        filter: alpha(opacity=65);
        position: absolute;
	right:6pt;
        bottom: 0;
	zoom: 1;
    }
    #vinjett form p {
	margin: 0;
        padding: 0;
    }
    #vinjett form input {
	font-weight: bold;
    }
    #vinjett #sss {
	position: absolute;
        top: 3pt;
	right: 6pt;
        color: #fff;
	font: bold 12pt/1.2em serif;
    }
    #vinjett #sss li {
	display: inline;
        border: solid 1px #fff;
	margin: 3pt;
        padding: 0pt 2pt;
    }
    #vinjett #sss a {
	text-decoration: none;
	color: #fff;
    }
    #vinjett #sss a.Times {
	font-family: 'Times New Roman', Times, serif;
    }
    #vinjett #sss a.Verdana {
	font-family: 'Verdana', sans-serif;
   }
    
    .accelerator {
	text-decoration: underline;
    }

    #sidfot {
	border-top: solid thin #6b482c;
        text-align: center;
    }

    /* specifik typografi för dokumentkolumnen */
    #dokument {
	margin: 0 6pt;
    }
    p {
	padding: 0;
        margin: 0 0 0.5em 0;
    }

    ul {
	padding: 0;
        margin: 0 0 0.5em 0;
    }

    h1 {
	font-size: 1.5em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    h2 {
	font-size: 1.2em;
        font-weight: bold;
    }
    h3 {
	/*font-size: medium; */
        font-style: italic;
    }
    ul.numreradlista, ul.bokstavslista, ul.strecksatslista {
	list-style-type: none;
        text-indent: -10pt;
        margin-left: 10pt;
	margin-top: 0;
	padding-left: 1em;
	padding-bottom: 0.5em;
    }
    .paragrafbeteckning, .rattsfallsrubrik {
	font-weight: bold;
    }
    .andringsnot, .upphavd {
	font-style: italic;
    } 

    .timestamp {
	font-style: italic;
        font-size: smaller;
        margin:0;
    }
