/* -*- coding: utf-8 -*- */
@import "print.css";

@page {
    margin-top: 50pt;
    margin-bottom: 50pt;
    margin-left: 30pt;
    margin-right: 30pt;
    padding: 0;
}

body {
    margin: 0;
    column-count: 2;
    column-gap: 1.5em;
    column-fill: auto; 
    text-align: justify;
    font: 9pt/1.4 Georgia;
}
    
