{% extends "base.html" %}

{% block title %}Inloggning{% endblock %}
{% block content %}
<div class="main">
    <div class="centercol">
    {% if form.has_errors %}
    <p>Något gick fel.</p>
    {% endif %}

    <form method="post" action=".">
    <table>
    <tr><td><label for="id_username">Användarnamn:</label></td><td>{{ form.username }}</td></tr>
    <tr><td><label for="id_password">Lösenord:</label></td><td>{{ form.password }}</td></tr>
    </table>

    <input type="submit" value="Logga in" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p>Har du inget användarnamn/lösenord? <a href="/accounts/create/">Skapa ett</a>!</p>
    <p>Har du glömt ditt lösenord? Maila <a href="mailto:staffan@tomtebo.org">Staffan</a> så kanske det går att fixa.</p>
    </div>
</div>
{% endblock %}