<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}GLÖM INTE ATT SÄTTA 'title' I SUBTEMPLATEN!{% endblock %} - lagen.nu</title>
    <link rel="stylesheet" type="text/css" href="/static/3col-rows.css"/>
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/static/3col-rows-ie.css"/>      
    <![endif]-->
    <script type="text/javascript" src="/static/MochiKit.js"></script>
    {% if user.is_authenticated %}
    <script type="text/javascript" src="/static/editable.js"></script>
    <style type="text/css">
      .editicon { display: block; }
    </style>
    {% endif %}   
  </head>
  <body id="{% block pageid %}{% endblock %}">

  <div id="banner">
    <form id="search" method="get" action="http://www.google.com/custom" title="Sök på lagen.nu">
      <div>
	<label for="q" title="Sök på lagen.nu">Sök:</label>

	<input type="hidden" name="cof" value="S:http://blog.tomtebo.org/;AH:center;AWFID:22ac01fa6655f6b6;"/>
	<input type="hidden" name="domains" value="lagen.nu"/>
	<input type="hidden" name="sitesearch" value="lagen.nu"/>
	<input type="text" id="q" name="q" accesskey="s" size="30"/>
      </div>
    </form>
    <h1><a href="/" title="Startsida" accesskey="1">Lagen.nu</a> - din sidflik i rättsinfodjungeln</h1>
    <ul>
      <li>
	{% if user.is_authenticated %}
	Välkommen, {{ user.username }}
	<a href="/accounts/logout/">(logga ut)</a>
	{% else %}
	<a href="/accounts/login/">Logga in</a> eller 
	<a href="/accounts/create/">skapa användare</a> 
	för att ändra
	{% endif %}
      </li>
      <li><a href="/Om" title="Information om tjänsten och vem som står bakom">Om</a></li>
      <li><a href="/Hj%C3%A4lp" title="Hur man använder tjänsten">Hjälp</a></li>
      <li><a href="/dv" title="Rättsfallsregister och referat från Domstolsverket">Rättsfall</a></li>
      <li><a href="/sfs" title="Lagar och andra författningar från SFS">Författningar</a></li>
    </ul>
    <div id="clear"></div>
  </div>
  
  {% block content %}
  <div id="main">
    <div class="leftcol">Vänsterflytande kolumn</div>
    <div class="rightcol">Högerflytande kolumn</div>
    <div class="centercol">Mittkolumn</div>
    </div>
  {% endblock %}

</body>
</html>