{% extends "base.html" %}
{% load mymarkdown %}
{% block left %}
<p class="references">
  Rättsfall med sökord '{{article.title}}':<br/>
  {% for rel in relations %}
  <a href="/{{rel.object.displayid|underscore}}" title="{{rel.object.urn}}">{{rel.object}}</a><br/>
  {% endfor %}
</p>
{% endblock %}

{% block right %}
<p class="controlpanel">
<b>Kontrollpanel</b><br/>

{% if user.is_authenticated %}
    Inloggad som {{ user.username }}.<br/>
    <a href="/edit/{{ article.title|underscore}}">Ändra den här sidan</a><br/>
    Bevaka den här sidan<br/>
{% endif %}
historik för denna sida<br/>
lista alla sidor<br/>
senaste ändringar<br/>
</p>
{% endblock %}
