{% load mymarkdown %}
{% extends "wiki/base.html" %}
{% block title %}Ändrar: {{ article.title }}{% endblock %}
{% block middle %}
<h1 class="wikibody">Ändrar {{article.title}}</h1>
<form action="/save/{{article.title|underscore}}" method="POST">
<textarea rows="20" cols="72" name="text">{{article.body}}</textarea>
<br>
<input type="submit" value="Spara">
    <p>
      OBS: Ditt bidrag är att betrakta som licensierat under <i>både</i> <a href="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License</a> och Creative Commons-licensen <a href="http://creativecommons.org/licenses/by-sa/2.5/se/">Erkännande-DelaLika 2.5 Sverige</a>.
    </p>
</form>
{% endblock %}
