{% extends "base.html" %}
{% load mymarkdown %}
{% block title %}{{ displayid }}{% endblock %}
{% block pageid %}L{{ displayid|underscore }}{% endblock %}
{% block middle %}
{{document}}
{% endblock %}
{% block left %}
<p>references go here</p>
{% for f in references %}
    <p class="references" id="references-{{ f.fragmentid }}">
    <b>{{f.label }}</b>
    {% for type in f.documenttypes %}
        <b>{{ type.label }}:</b>
        {% for d in type.documents %}
            <a href="/{{ d.displayid|underscore}}" title="{{ d.desc|escape }}">{{ d.displayid }}{% if d.alternative %}({{ d.alternative }}){% endif %}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        <br/>        
    {% endfor %}        
    </p>
{% endfor %}
{% endblock %}
{% block right %}
comments go here
{% for c in comments %}
    <p class="comment editable" id="comment-{{c.fragmentid}}">
    <b>{{c.label}}</b> {{c.body}}
    </p>
{% endfor %}

{% endblock %}